::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #888888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #888888;
}

.CodeMirror {
    font-family: Arial, monospace;
    font-size: 16px;
}

#code-editor .CodeMirror{
    /* width: 100%; */
    height: 100vh;
}

#code-editor {
    cursor: auto;
    overflow-y: hidden;
    /* max-height: calc(100vh - 110px); */
}

.tab-content {
    overflow-y: hidden;
}