* {
    padding: 0%;
    margin: 0%;
}


body,
#main-content {
    height: 100vh;
    width: 100%;
}

#main-content {
    overflow-y: auto;
    overflow-x: hidden;
}


#loading{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}