#draw-header {
    padding: 15px;
    /* background: rgba(40, 40, 40, 1.0); */
    /* background: linear-gradient(to right, #FF6F00,#FFA800); */
    background: #f57c00;
    color: white;
    height: 70px;
    position: relative;
}

.draw-title {
    text-align: center;
    position: absolute;
    top: 20px;
    font-size: 22px;
    font-weight: bolder;
    width: 100%;
}

#left-draw-header {
    height: 100%;
    display: inline-block;
    /* float: left; */
}

#draw-details {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#right-draw-header {
    display: inline;
    position: fixed;
    right: 10px;
    z-index: 7;
    margin-right: 10px;
}

#draw-sidebar-left {
    max-width: 250px;
    min-width: 170px;
    width: 15%;
    height: calc(100vh - 70px);
    /* background: #eeeeee; */
    background: #E6E6E6;
    float: left;
    /* margin-right: 12px; */
    overflow-y: scroll;
}

#draw-sidebar-left nav ul li {
    padding: 4px;
    font-size: 14px;
    /* border-top: 1.2px solid #888888; */
    background: transparent;
    color: #555555;
    width: 100%;
    display: inline-block;
}

#draw-sidebar-left nav ul li ul li {
    padding: 4px;
    padding-left: 16px;
}

#draw-sidebar-left>div .accordion a {
    padding: 8px;
    font-size: 16px;
    padding-top: 0px;
    /* border-top: 1.2px solid #888888; */
    background: transparent;
    color: #444444;
    width: 100%;
    display: inline-block;
}

#draw-sidebar-left>div>p {
    width: 100%;
    display: inline-block;
    padding: 8px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /* margin-left: 20px; */
    /* margin: 0px; */
    font-size: 18px;
    font-weight: bolder;
}

#draw-sidebar-left div .accordion li:hover {
    color: #eeeeee;
    background: #555555;
    cursor: grab;
}

#draw-main {
    width: 100%;
    height: calc(100vh - 70px);
}

#draw-canvas {
    background: #ffffff;
    height: 100%;
    overflow: hidden;
}

#draw-sidebar-right {
    min-width: 170px;
    max-width: 250px;
    width: 15%;
    height: calc(100vh - 70px);
    background: #eeeeee;
    float: right;
    overflow-y: scroll;
}

#draw-sidebar-right>nav>form>.form-group {
    padding: 2px;
    /* font-size: 16px; */
    border-top: 0.8px solid #888888;
    background: transparent;
    color: #555555;
}


#draw-sidebar-right>p {
    padding: 8px;
    padding-bottom: 0px;
    /* margin-right: 20px; */
    font-size: 20px;
    /* font-weight: bolder; */
}

#selectedlayer {
    text-align: center;
    width: 100%;
    padding: 4px;
    border: 1px solid #777777;
}

#main-content,
#draw-content {
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #888888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #888888;
}


#draw-main ul li a {
    color: black;
    font-weight: bolder;
}

.tab-content {
    overflow-y: hidden;
}

#draw-layers p,
#draw-functions p,
#draw-outputs p {
    margin: 0;
    padding: 0;
    /* padding-left: 8px; */
}

.fixed-action-btn{
    position: fixed;
    right: 15px;
    bottom: 15px;
}

#codenode-desc{
    width: 100%;
    height: calc(100vh - 100px);
    overflow: auto;
    background-color: #e9ebdd;
    z-index: 7;
    border-radius: 10px;
    padding: 8px;
}