#user-header {
    padding: 15px;
    /* background: linear-gradient(to right, #FF6F00,#FFA800); */
    background: #f57c00;
    color: white;
    height: 70px;
    /* width: 100%; */
    position: relative;
    /* display: inline-block; */
}

.user-title {
    text-align: center;
    position: absolute;
    top: 20px;
    font-size: 22px;
    font-weight: bolder;
    width: 100%;
}

#left-user-header {
    height: 100%;
    float: left;
}


#right-user-header {
    display: inline;
    position: fixed;
    right: 10px;
    z-index: 7;
    margin-right: 10px;
}

.card{
    margin: 10px;
    max-width: 300px;
    color: #425066;
}

#user-details {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#user-profile-pic {
    margin-right: 20px;
    width: 80px;
    height: 80px;
    float: left;
}

#user-projects{
    padding-top: 8px;
    padding: 12px;
    color: #425066;
    background: linear-gradient(#E6E6E6, #FFFFFF);
    height: 100%;
    overflow-y: auto;
    padding-bottom: 64px; 
}

#user-projects-card-list{
    margin-left: 20px;
}

#user-projects h3{
    padding-bottom: 10px;
    border-bottom: 2px solid #999999;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .btn-responsive {
        /* padding:2px 4px; */
        font-size:95%;
        line-height: 1;
    }
}
  
@media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
        /* padding:4px 9px; */
        font-size:95%;
        line-height: 1.2;
    }
}


@media (max-width: 768px) {
    .h5-text-responsive {
        /* padding:2px 4px; */
        font-size:1.1rem;
    }
}
  
@media (min-width: 769px) and (max-width: 992px) {
    .h5-text-responsive {
        /* padding:4px 9px; */
        font-size:1.1rem;
        /* line-height: 1.2; */
    }
}

@media (max-width: 768px) {
    .h4-text-responsive {
        /* padding:2px 4px; */
        font-size:1.3rem;
    }
}
  
@media (min-width: 769px) and (max-width: 992px) {
    .h4-text-responsive {
        /* padding:4px 9px; */
        font-size:1.3rem;
        /* line-height: 1.2; */
    }
}