#login,
#signup {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url('/home/vikasgola/Downloads/back.svg');
    background-repeat: no-repeat;
}

.card {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}